<div class='card '>
  <div class='card-header bg-primary text-white h3'>Products</div>
  <div class='card-body'>
    <p>Welcome to Gartner Product Management application! This application will allow you to view our existing
      products, search them. edit them, and create a new ones!</p>

    <form [formGroup]='productListForm'>
      <div class="row">
        <div class="col-md-5 col-lg-8 form-group">
          <label class='sr-only' for="search">Search</label>
          <input type="text" id='serach' formControlName='search' class='form-control' [placeholder]='searchPlaceholderText'>
        </div>
        <div class="col-md-4 col-lg-2">
          <label class='mt-md-2'>Product Count: {{filteredProducts?.length | number}}</label>
        </div>
        <div class="col-md-3 col-lg-2 form-group text-right">
          <button type='button' id='add-product' class='form-control btn btn-success' (click)='onAddClicked()'>Add
            Product</button>
        </div>
      </div>
    </form>

    <table class='table table-hover'>
      <thead>
        <tr>
          <th scope='col-2'>Name</th>
          <th scope='col'>Description</th>
          <th scope='col-1'></th>
          <th scope='col-1'></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of filteredProducts'>
          <td>{{product.Name}}</td>
          <td>{{product.Description}}</td>
          <td><button type='button' class='btn btn-link' (click)='onDetailsClicked(product.ProductId)'>Details</button></td>
          <td><button type='button' class='btn btn-link' (click)='onEditClicked(product.ProductId)'>Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
