<form [formGroup]='tagForm'>
  <label for="tag-input">Category</label>
  <input type="text" id="tag-input" formControlName='tagInput' class='form-control' [ngbTypeahead]='search' (focus)="focus$.next($event.target.value)"
    placeholder="type category name and hit enter" (click)="click$.next($event.target.value)" (keyup)="onKeyUp($event)" [readonly]='readonly'>
  <span *ngIf='showErrorMessage' class='text-danger'>
    hmmm... that's a new one. Sorry, we don't support that category yet.
  </span>
  <span *ngIf='showDuplicateMsg' class='text-danger'>
    Alright slow down... You've already added this category.
  </span>
  <div class='mb-3'>
    <button tabindex="-1" type="button" *ngFor='let tag of tags' class="btn btn-info bg-info p-1 m-1 text-white">
      {{tag}}<span class="remove-tag" (click)='onRemoveTagClicked(tag)'> x</span></button>
  </div>
</form>
